<form method="POST" action="/doctors">
Start Date: <input type="text" name="startdate"><br>
Start Time: <input type="text" name="starttime"><br>
<input type="submit" value="Submit">
</form>
<br>
<div>
