<h1>PATIENT DATA</h1>
<div class="patientdata">
    <p class="aboutclass" align="center">Here is your patient data:</p>
    <%= 'FIRST NAME: &nbsp;' %>
    <%= @patient.first_name %>
</div>
<div class="profiledata">
    <%= 'LAST NAME: &nbsp; ' %>
    <%= @patient.last_name %>
</div>
