<form method="POST" action="/displaypatientdata">
First Name: <input type="text" name="[patient]first_name"><br>
Last Name: <input type="text" name="[patient]last_name"><br>
Diagnosis: <input type="text" name="[emr]diagnosis"><br>
Prognosis: <input type="text" name="[emr]prognosis"><br>
<input type="submit" value="Submit">
</form>
<br>
<div>
